$login: #d9a9a9;
$rectangle: #E9E9E9;
@font-face {
    font-family: "Inter";
    src: url(/register/font-famaly/Inter-Regular.ttf);
}
@mixin radius($minradius, $maxradius) {
    border-top-left-radius: $minradius;
    border-top-right-radius: $minradius;
    border-bottom-left-radius: $maxradius;
    border-bottom-right-radius: $maxradius;
}

body {
    background-color: #b0b0b0;
}
@mixin main {
    display: flex;
    justify-content: center;
}
.main {
    @include main;
}
.main_content {
    width: 50vh;
    min-height: 600px;
    background-color: $rectangle;
    margin-top: 6vh;
    @include radius(2vh, 2vh);
}
.main_content_white {
    background-color: white;
    min-height: 460px;
    padding-top: 100px;
    @include radius(2vh, 10vh);
    h1 {
        text-align: center;
        padding: 0%;
        margin: 0 auto;
        font-family: "Inter";
        font-size: 25px;
    }
}

.content_registr {
    display: flex;
    justify-content: center;
}
.content_regist_page {
    margin-top: 55px;

}
@mixin icon {
    background-size: cover;
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 5px;
    left: -30px;
    margin: auto 0;
}
.registr_input{
    input {
        display: block;
        border: none;
        border-bottom: 1px solid black;
        margin-top: 45px;
        font-family: "Inter";
        &:focus{
            outline: none;
        }
        &:active{
            outline: none;
        }
    }
    position: relative;
    &:nth-child(1)::after{
      background: url(/register/img/logo.jpg) no-repeat;
      @include icon()
    }
    &:nth-child(2)::after{
        background: url(/register/img/password.jpg) no-repeat;
        @include icon()
    }
    
}
::-webkit-input-placeholder { font-size: 13px; }
::-moz-placeholder { font-size: 13px; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 13px; } /* ie */
input:-moz-placeholder { font-size: 13px; }
.button_login_page{
    font-family: "Inter";
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 20px;
    button{
        background-color: #B0B0B0;
        border: none;
        padding: 20px 110px 20px 110px;
        border-radius: 200px;
    }
}
.link_registr_page{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    a{
        text-decoration: none;
        font-family: "Inter";
        color: #8a8585;

    }
}
.link_registr_other{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    a{
        img{
            max-height: 30px;
        }
    }
}

