html,
body {
	height: 100%;
	width: 100%;
	margin:0;
	padding: 0;
}

.wrap {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	color: #fff;
	text-align: center;
	background: #120103;
}

header {
	background: #3e474f62;
	box-shadow: 0 .5em 1em #111;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
}

header label {
	color: #7888188;
	cursor: pointer;
	display: inline-block;
	line-height: 4.25em;
	font-size: 1em;
	font-weight: bold;
	padding: 0 1em;
	transition: 0.3s;
}

header label:hover {
	background: rgba(0, 0, 0, 0.315);
	transition: 0.5s;
}

.slide {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 10;
	padding: 8em 1em 0;
	background-color: #120103;
	background-position: 50% 50%;
	background-size: cover;
	transition: left 0s .75s;
}

.slide-one {
	background-image:url('nauka.jpg')
}

.slide-two {
	background-image: url('sport.jpg');
}
.slide-three {
	background-image: url('iskusstvo.jpg');
}
.slide-four {
	background-image: url('promishlennost.jpg');
}
.slide-five {
	background-image: url('volkovysk.jpg');
}


.slide h1 {
	opacity: 0;
	transform: translateY(100%);
	transition: transform .5s .5s, opacity .5s;
}
.button{
display: inline-block;
    background: rgba(26, 24, 24, 0.53);
    padding: 2px 5px 2px 5px;
}
.button a{
    text-decoration: none;
    color: white;
    transition: 1s;
}
.button a:hover{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 1s;
}

[id^='slide']:checked + .slide {
	left: 0;
	z-index: 100;
	transition: left .65s ease-out;
}

[id^='slide']:checked + .slide h1 {
	opacity: 1;
	transform: translateY(0);
	transition: all .5s .5s;
}