@font-face {
  font-family: "Grotecki";
  src: url(/font/SpaceGrotesk-VariableFont_wght.ttf);
}
body {
  padding: 0;
  margin: 0;
  font-family: "Grotecki";
  font-weight: 500;
}

p {
  color: white;
}

input::-webkit-input-placeholder {
  font-family: "Grotecki";
  color: #D2D0D2;
}

input::-moz-placeholder {
  font-family: "Grotecki";
  color: #D2D0D2;
}

input:-ms-input-placeholder {
  font-family: "Grotecki";
  color: #D2D0D2;
}

input::-ms-input-placeholder {
  font-family: "Grotecki";
  color: #D2D0D2;
}

input::placeholder {
  font-family: "Grotecki";
  color: #D2D0D2;
}

input {
  font-family: "Grotecki";
  padding-left: 15px;
}

#error {
  color: red;
}

.invalid {
  border-color: red;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  background-image: url(/images/bg-main-desktop.png);
  background-repeat: no-repeat;
  width: 30%;
  height: 100vh;
  overflow: hidden;
}

section {
  height: 100vh;
  width: 70%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-fontcard {
  background-image: url(/images/bg-card-front.png);
  height: 218px;
  width: 400px;
  margin-left: 200px;
  margin-top: 100px;
  position: absolute;
  border-radius: 3%;
}

.two {
  background-image: url(/images/bg-card-back.png);
  background-position: center;
  background-size: 100%;
  margin-top: 350px;
  margin-left: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.two P {
  margin-right: 45px;
}

.one {
  display: block;
}

.aside-fontcard-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px 0px 35px;
}

.aside-fontcard-top {
  margin-top: 100px;
}

.font-top {
  margin-bottom: 5px;
  font-size: 30px;
  text-align: center;
}

.font-top-age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-name {
  color: black;
}

.section-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-last input {
  border: none;
  border: solid 1px;
  border-color: #ccc;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  margin-left: 10px;
}
.section-last input:nth-child(3) {
  width: 160px;
}

.section-last-p {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.input-first {
  width: 100%;
  border: none;
  border: solid 1px #ccc;
  border-radius: 10px;
  height: 40px;
}

.section-submit {
  margin-top: 30px;
}
.section-submit input {
  width: 100%;
}